@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Delivery Service</h1>
    <p class="lead">order delivery or check status of your package</p>
    @if(User.IsInRole("user"))
    {
        @Html.ActionLink("Order new delivery", "Add", "Delivery")
        @Html.ActionLink("Check Status of your package", "", "")
    }
</div>